<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login Page</title>
</head>

<body>
    <h2>Login Form</h2>

    <form action="" method="post">
        <div class="container">
            <div>
                <label for="uname">Username</label><br>
                <input type="text" placeholder="Enter Username" name="username" required>
            </div><br>
            <div>
                <label for="psw">Password</label><br>
                <input type="password" placeholder="Enter Password" name="psw" required>
            </div><br>
            <div>
                <button type="submit">Login</button>
                <button type="button" class="cancelbtn" onclick="location.href='/'">Cancel</button>
            </div>
        </div>

    </form>
</body>

</html>