<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
     
    <title>V-Cart</title>
    <style>
        html, body{
            height: 100%;
            margin:0;
            padding:0;
        }

        .container{ 
			text-align: center;
            margin: auto;
            position: relative;;
            border: solid green;
            height: 100%;
            width: 100%;
            max-width:700px; 
        }

        .camera-container{
            margin:auto;
            width: 90%;
            /* height: 500px; */
            border: solid black; 
        }
        header{  
            position: relative;
            width: 100%; 
            padding: 10px;
            border-bottom: solid;
            text-align: center;
        } 
        footer{
            /* margin-bottom: 50px; */
            width: 100%;
            height: 90px;
            border: solid;
            bottom: 0; 
            /* position:relative; */
        }
    </style>
</head>
<body> 
	<div class="container"> 
		<h1>Add Product</h1>
		<div class="camera-container">
			<div class="col-sm-12">
				<video id="preview" class="p-1 border" style="width:100%;"></video>
			</div>  
			<div >
				<label class="btn btn-primary active">
				<input type="radio" name="options" value="1" autocomplete="off" checked> Front Camera
				</label>
				<label class="btn btn-secondary">
				<input type="radio" name="options" value="2" autocomplete="off"> Back Camera
				</label>
			</div>
		</div><br><br>
		<a href="/homeGuest"> <button> Back to Cart</button></a>
	</div> 

	<!-- script Scanner  -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> 
	<script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script> 
	<script type="text/javascript">
		var scanner = new Instascan.Scanner({ video: document.getElementById('preview'), scanPeriod: 5, mirror: false });
		scanner.addListener('scan',function(content){
			alert(content);
			window.location.href=`homeGuest/add?id=${content}`;
		});
		Instascan.Camera.getCameras().then(function (cameras){
			if(cameras.length>0){
				scanner.start(cameras[0]);
				$('[name="options"]').on('change',function(){
					if($(this).val()==1){
						if(cameras[0]!=""){
							scanner.start(cameras[0]);
						}else{
							alert('No Front camera found!');
						}
					}else if($(this).val()==2){
						if(cameras[1]!=""){
							scanner.start(cameras[1]);
						}else{
							alert('No Back camera found!');
						}
					}
				});
			}else{
				console.error('No cameras found.');
				alert('No cameras found.');
			}
		}).catch(function(e){
			console.error(e);
			alert(e);
		});
	</script>
</body>
</html>